<%= form_for [:dashboard, @collection, @new_card] do |form| %>
	<div>
		<%= form.label :image %>
		<%= form.attachment_field :image, direct: true %>
	</div>
	<div>
		<%= form.submit "Save card", disabled: true %>
	</div>
<% end %>
