<%= form_for [:dashboard, @card] do |form| %>
	<div>
		<%= form.label :image %>
		<%= form.attachment_field :image, direct: true %>
	</div>
	<div>
		<%= form.submit "Save Card", disabled: true %>
	</div>
<% end %>
