@import "jeet/index";

.cards {
	background: hsl(0, 0%, 98.7%);
	padding: 1rem;
	@include cf();
}

.card {
	@include col(1/4);

	img {
		width: 100%;
		background: white;
		border-radius: 2px;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
		padding: 0.354rem;
		margin-bottom: 1em;
	}
}
